
	*, *:before, *:after{
		margin: 0;
		padding: 0;
		outline:0;
		box-sizing: border-box;
	}
/* body {
	font-family: sans-serif;
	background-image: url(deadpool.jpg); 
} */
main{
	height:100%;
	width: 100%;
	margin:0;
  }

.menu {
	background: cadetblue;
	height: 75px;
	width: 100vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid white;
	box-shadow: 5px 0 10px rgba(0, 0, 0, .6);
}
.logo {
	color:white;
	font-size: 35px;
	padding: 0 80px;
	font-weight: bold;
}
.menu_items {
	display: flex;
	list-style: none;
	margin-right: 30px;
	align-items: center;
}
.menu_items li {
	/* border-radius: 3px; */
	margin: 0 10px;
}
#Poster{
	width: 50%;
}
.menu_items li a {
	padding: 7px 15px;
	text-decoration: none;
	font-size: 18px;
	display: inline-block; /* para que los links ocupen todo su espacio*/
	text-transform: uppercase;
	color: white;
	transition:3s;
	
	
}
.menu_items li:hover, li:active{
	background: rgba(0, 0, 0,.3);
	
	
}
nav > span.material-icons {
	margin-right: 30px;
	font-size: 25px;
	color:white;
	cursor: pointer;
	display: none;
}
ul.show {
	top:65px; /* tamaño que le vamos a colocar al nav para adaptarle al movil, para que con el js podamos esconder el icono*/
}
.logoD {
	width: 40px;
	border-radius: 15px;
	border: 1px solid white;

}

/* ************************ Google********************************** */

.container,
      .profile-section,
      .login-section {
        margin-top: 2rem;
      }
      .container {
        padding-left: 5rem;
      }
      .profile-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      #profile-picture {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
	  }
	  /*********************************************************/
@media screen and (max-width: 952px){
	.logo {
		font-size: 30px;
		padding-left: 35px;
	}
	.menu_items li a {
		font-size: 16px;
	}
}

@media screen and (max-width:858px) {
	.menu {
		height: 65px;
	}
	nav > span.material-icons{
		display: inline-flex; 
	}
	.menu_items {
		position:fixed;
		width: 100vw; /* ocupa el ancho del viewport*/
		height: calc(100% - 65px);/*navevgador calcula el alto que debe dar*/
		background: #414141;
		top:-100vh;/*sacamos el desplegable fuera de la pantalla*/
		text-align: center;
		transition:all .3s;
		flex-direction: column;
	}
	.menu_items li {
		margin:30px 0 0 0;
		line-height: 30px;

	}
	.menu_items li:hover li:active {
		background: rgba(0, 0, 0,.3);
	}
	.menu_items li a {
		font-size: 25px;
		color:white;
		/* font-weight: bold; */

	}
	.menu_items li a:hover {
		color:#d8d8df;
	}
	.logo {
		font-size: 25px;
		padding-left: 35px;
	}
}
@media screen and (max-width:858px) and (orientation: landscape) {
	.menu_items li {
		margin: 5px 0 0 0;
	}
	.menu_items {
		overflow: scroll;
		height: calc(100% - 65px);
	} 
}

/* ************************Javi********************************** */

section.cabecera{
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: bold;
	font-size: 34px;
	line-height: 41px;
	letter-spacing: 0.374px;	
	color: black;
	margin-left: 20px;
	margin-top: 90px;
	margin-bottom: 8px;
}
label.cajas {
	width: 95%;
	margin-top: 5px;
	margin-left:45px;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	line-height: 18px;
	letter-spacing: -0.078px;
	text-transform: uppercase;
	color: black;
}
form#formulario, div.buscador, form.logout, form.buscando{
	display: flex;
	flex-direction: column;
	align-items: center;
}
input#email, input#password, button#movies, button#search, input#logout, input#peli, input#buscador{
	align-content: space-between;
	flex-direction: center;
	align-items: center;
	width: 90%;
	height: 40px;
	flex-grow: 0;
	margin: 5px 0px;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: -0.408px;
	color: black;
	border-radius: 10px;
	padding-left: 10px;
	box-shadow: 4px 4px;
}
input#boton_login{
	margin-top: 15px;
	width: 40%;
	height: 42px;
	align-content: space-between;
	flex-direction: center;
	align-items: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 19px;
	line-height: 22px;
	text-align: center;
	letter-spacing: -0.408px;
	color: black;
	border-radius: 10px;
	box-shadow: 4px 4px;
}
img.logobrand{
	width: 80px;
	margin-top: 40px;
	margin-right: 17px;
	border-radius: 70px;
	box-shadow: 4px 4px;
}
div.buscador{
	margin-top: 15px;
}
input#logout{
	width: 40%;
}
h2 {
	font-size: 30px;
	margin-top: -15px;
	margin-bottom: 15px;
	text-align: center;
	color: rgb(239, 239, 239);
}
div.ubicando{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
div.container{
	padding-left: 0px;
}
.carousel{
	margin-top: 10px;
	height: 380px;
	border: solid black;
	border-radius: 10px;
	background-color: rgb(239, 239, 239);
}
.carousel .carousel-item{
	margin-top:-35px;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	user-select: none;
	width: 80%;
}
.carousel .carousel-item img{
	width: 80%;
	object-fit: cover;
	border-radius: 15px;
	margin-bottom: -10px;
}
.carousel .indicators .indicator-item{
	border-radius: 0;
	transform: rotate(45deg);
	margin: 5px 10px;
	background: black;
}
.carousel-item p {
	font-family: 'Comic Sans';
	font-size: 20px;
	margin-bottom: 5px;
	margin-top: 30px
}



























/* body{margin:0;padding:0;}
.hamburger{
	position:fixed;
  background-color:transparent;
	left:0;
	top:0;
	height:30px;
	width:30px;
	padding:20px 20px;
	-webkit-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
	-webkit-transition:-webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	transition:transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	z-index:1002;
	cursor:pointer;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none
}
.hamburger.is-active{
  background-color:none;
}
._layer{
	background:#333333;
	margin-bottom:4px;
	border-radius:2px;
	width:28px;
	height:4px;
	opacity:1;
	-webkit-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
	-webkit-transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
}
.hamburger:hover .-top{
	-webkit-transform:translateY(-100%);
	-ms-transform:translateY(-100%);
	transform:translateY(-100%);
}
.hamburger:hover .-bottom{
	-webkit-transform:translateY(100%);
	-ms-transform:translateY(100%);
	transform:translateY(100%);
	}
.hamburger.is-active .-top{
	-webkit-transform:translateY(200%) rotate(45deg) !important;
	-ms-transform:translateY(200%) rotate(45deg) !important;
	transform:translateY(200%) rotate(45deg) !important;
}
.hamburger.is-active .-mid{
	opacity:0;
}
.hamburger.is-active .-bottom{
	-webkit-transform:translateY(-200%) rotate(135deg) !important;
	-ms-transform:translateY(-200%) rotate(135deg) !important;
	transform:translateY(-200%) rotate(135deg) !important;
}
.menuppal.is_active{
  transform: translate3d(0px, 0px, 0px);
}
.menuppal{
   background-color: rgba(255, 255, 255, 255); 
    bottom: 0;
    height: 100%;
    left: 0;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    transform: translate3d(0px, -100%, 0px);
    transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
    width: 100%;
    z-index: 1001;
}
.menuppal ul{
  margin-top: 100px;padding:0;
}
.menuppal ul li { 
  list-style: none;
	text-align:center;
	font-family: Verdadna, Arial, Helvetica;
	color:nav-color-text;
	font-size:1.5rem;
	line-height:1rem;
	height:3em;
  color:#369;
	text-transform:none;
	font-weight:bold;

}
.menuppal ul li a{
  text-decoration:none;
  color:#369;
}
.menuppal ul li a:hover{
  text-decoration:none;
  color:#333;
}
#avatar {
	width: 30%;
}
/**************************login***********************/

/* 
#form_login {
	font-size: 1.2rem;
	text-align: center;
	margin: 10rem 1rem 0rem 1rem;
}
#email {
	margin-top: 1rem;
	margin-bottom:1rem ;
	width: 90%;
	border:solid black;
	outline: none;
}
#password {
	margin-top: 1rem;
	margin-bottom: 2rem;
	width: 90%;
	border:solid black;
	outline: none;
}
#login {
	border:solid black;
	outline: none;
} */ 
