*, *:before, *:after{
    margin: 0;
    padding: 0;
    outline:none;
}
:root{
   --mainColorHover:#;
    --mainColorClick: #;
    --viewPort:280px;
    --fontColor:white;
    --mainColor:white;
    --bgColor: none;
 
}
body {
    
    font-family: 'Montserrat';font-size: 22px;
}
main{
    height:100%;
    width: 100%;
    margin:0 auto;
    color: var(--mainColor) 
} 
a{
    text-decoration: none;
    color:var(--fontColor);
}
.wrapper {
    width: var(--viewPort);
    margin: 0 auto;
    display: flex;   
}
button {
    background: white;
    border:solid white;
    padding: 12px 12px;
    border-radius: 6px;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--fontColor);
    font-size: 10px;
}
button:hover {
    background: var(--mainColorHover);
    color: white; 
}
button:focus {
    outline: var(--mainColorClick);
}
button:active {
    background: var(--mainColorClick);
}
input  {
    background: var(--bgColor);
    border:solid black 1px;
    padding: 12px 6px;
    border-radius: 6px;
    font-weight: bold;
    color: var(--fontColor);
    font-size: 15px;
    margin-right: 5px;
    width: 35%;
}
/* main > section:nth-child(even) {
    background: #e0e0f1;
}
main > section:nth-child(odd) {
    background: #d8d8df
} */
/******************************* Menú Hamburguesa**********************************/

.menu {
width: 100vw;
display: flex;
justify-content: space-between;
align-items: center;
}
.menu_items {
display: flex;
list-style: none;
margin-right: 30px;
align-items: center;
}
.menu_items li {
margin: 0 10px;
}

.menu_items li a {
padding: 7px 15px;
text-decoration: none;
font-size: 18px;
display: inline-block; /* para que los links ocupen todo su espacio*/
text-transform: uppercase;
color: white;
transition:3s;

}
.menu_items li:hover, li:active{
background: rgba(0, 0, 0,.8);


}
nav > span.material-icons {
margin-right: 30px;
font-size: 25px;
color:white;
cursor: pointer;
display: none;
}
ul.show {
top:50px; /* tamaño que le vamos a colocar al nav para adaptarle al movil, para que con el js podamos esconder el icono*/
}
.logoD {
width: 40px;
border-radius: 15px;
border: 1px solid white;

}
@media screen and (max-width: 952px){
	.logo {
		font-size: 30px;
		padding-left: 35px;
	}
	.menu_items li a {
		font-size: 16px;
	}
}

@media screen and (max-width:858px) {
    
	.menu {
        height:50px;
	}
	nav > span.material-icons{
        display: inline-flex;
        margin-left: 90%; 
        position: fixed;
        
	}
	.menu_items {
		position: absolute;
		width: 100vw; /* ocupa el ancho del viewport*/
		height: calc(100% - 50px);/*navevgador calcula el alto que debe dar*/
        background:black; 
		top:-100vh;/*sacamos el desplegable fuera de la pantalla*/
		text-align: center;
		transition:all .3s;
		flex-direction: column;
    }
	.menu_items li {
		margin:30px 0 0 0;

	}

	.menu_items li a {
		font-size: 25px;
		color:white;
		/* font-weight: bold; */

	}
	.menu_items li a:hover {
		color:white;
	}
	/* #logodashb {
        width: 20%;
        margin-top: 45px;
        
	} */
}
@media screen and (max-width:858px) and (orientation: landscape) {
	.menu_items li {
		margin: 5px 0 0 0;
	}
	.menu_items {
		overflow: scroll;
		height: calc(100% - 50px);
	} 
}
/***********************Login*************************/
p#incorrecto{
    color: red;
}

#deadpool {
	background-image: url(/img/fondosPantalla/deadpool360x640.jpg); 
	background-position: left;
	background-attachment: fixed;
	background-size:cover; 	
    background-repeat: no-repeat;
}

img.logobrand{
	width: 35%;
	margin-top: 10px;
    margin-right: 17px;
    margin-left: 280px; 
    position: relative;
}
form#formulario {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    margin-top: 300px;
    width: 100%;
    margin-left: 13%;
    /* border:rgba(212, 29, 29, 0.8) 5px solid; */
    padding-top: 12px;
}
input#email, #password {
    border: black 3px solid;
    background: white;
    color: black;
}
input#boton_login {
    background: black;
    color: white;
    border:solid 2px white;
    margin-top: 6px;
    font-size: 23px;
    padding: 12px 12px;
    margin-bottom: 15px;
}
#face, #google {
    width: 37%;
}
#login_rrss {
    text-align: right;
}
section.barra {
    height: 5px;
    position: fixed;
    left: 32%;
    right: 32%;
    background:white;
    border-radius: 10px;
    Width:30%;   
}
/****************** Dashboard********************/
#big{
	background-image: url(/img/fondosPantalla/big360x640.jpg); 
	background-position: center;
	background-attachment: fixed;
	background-size: cover; 	
	background-repeat: no-repeat;
	background-blend-mode: luminosity;
	background-color: rgba(2, 34, 58, 1);
}
div.buscador {
    margin:17px 6px
}
input#peli {
    border-bottom: black 3px solid;
    width: 55%;
    margin-left: 5px;
    background: transparent;
}
.btn_icono {
display: flex;
justify-content: flex-start;
flex-direction: row;
padding-left: 5px;
font-size: 15px;
}

#txt {
    text-transform: capitalize;
    text-align: left;
    margin-top: 7px
}

#lupa {
    width: 35%;
}
button#buscador {
    border:none;
    background-color:transparent;
    text-align:center;
    width: 30%;
    padding: 0;
    margin-bottom: 5px;
}
.formularioS {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
button#movies {
    border:none;
    background-color:transparent;
    padding: 0;

}
div.folder {
    display: flex
}
#folder {
    width: 30px;
    margin-top: 3px;
    margin-right: 10px;
}

button#logout {
    border:none;
    background-color:transparent;
    text-align: left;
    padding: 0;
    margin-left: 6px;
}
#salida {
    width: 10%; 
}
p {
	font-size: 30px;
	margin-top: -10px;
	margin-bottom: 12px;
	text-align: center;
    color:black;
    font-weight: bold;
}
/************************************Carrusel**************************************************/
div.container{
    padding-left: 0px;
    margin-top: 60px;
}
p.p {
    color:black; 
}
p.center-align {
   font-weight: 900; 
   color:black;
   margin: 0;
   color:black;
   font-size: 29px;
   text-align: right;
}
.carousel{
	margin-top:0px;
	height: 315px;
	border-radius: 10px;
    background-color:transparent; 
}
.carousel .carousel-item{
	margin-top:-15px;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	user-select: none;
	width: 85%;
}
.carousel .carousel-item img{
	width: 80%;
	object-fit: cover;
	border-radius: 15px;
	margin-bottom: -10px;
}
.carousel .indicators .indicator-item{
	border-radius: 0;
	transform: rotate(45deg);
	margin: 5px 10px;
	background: black;
}

/************************ Search***************************/
#fondo {
    background-color:#213e3b;

}
div#peliculas_search {
   border: 5px white solid;
   text-align: center;
   width:76%;
   margin-left: 29px;
   margin-top: 5px;
   padding-top: 10px;
}
p.p {
    font-size: 30px;  
    color: white;
    height: 80;
    margin-top: 15px;
}
p.p_año {
    font-size: 17px;  
    color: white; 
    margin-bottom: 15px;
}
#Poster{
    width:200px;
    margin:5px 10px;
    box-shadow: 5px 10px 15px black;
}
#btn_detalles {
    display: flex;
    border-bottom: solid white 1px; 
}
#btn_fav {
   background-color: transparent;
    border: none;
    text-align: right;
    width: 50%;  
}
#fav {
 width: 80%;
}
.detalles {
    width: 85%;
    margin-left: 30px;
    border:none
}


/**************************SearchDetalis**********************************/
#fondo_ser {
    background-color:#213e3b;
}

.img_de {
    width: 50%;
    display: block;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 12px;
    color: white;

}

.txt_de {
    font-size: 40px;
    color: white;
}

.p_dir{
    font-size: 18px;
    color: white;
}

.txt_di {
    font-size: 18px;
    color: white;
}

.div_de{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.info{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.p_encabezado {
    margin-left: 5px;
    font-size: 15px;
    color: white;
    width: 30%;
    text-align: left;
    padding-top: 10px;
}
.p_contenido {
    font-size: 15px;
    color: white;
    width: 70%;
    text-align: left;
    padding-top: 10px;
}

.button-go{
    background-color: transparent;
    border-color: transparent;
}




#flecha {
    width: 10%;
    background: none;
}    
 span.txt_de {
     font-size: 10px;

 }  

/******************************** CreateMovie*************************************/
label{
    font-size: 15px;   
}
.fondo_c  {
    background-color: #d8c292;
}
input#createtitulo, #createyear, #createdirector, #creategenero, #createduracion, #createescritor, #createactores, #createresumen, #createpremios, #createurl{
    display: flex;
    align-content: space-around;
    width: 40%;
    padding: 10px 12px;
}
form#createform > * {
    color: black;
    margin: 5px 20px;
    height: 10px;
}
#guardar, #cancelar{
    width: 47%;
    margin-left: 50px;
    border: black solid 3px;
    background: #d8c292;
    color: black;
    padding: 10px 12px;

}form#create {
    display: flex;
    flex-direction: row;
    color:black;
    margin: 5px 20px;

}
/******************************** EditMovie*************************************/
label{
    font-size: 15px;   
}
.fondo_e  {
    background-color: #d8c292;
}
input#editartitulo, #editaryear, #editardirector, #editargenero, #editarduracion, #editarescritor, #editaractores, #editarresumen, #editarpremios, #editarurl{
    display: flex;
    align-content: space-around;
    width: 40%;
    padding: 10px 12px;
}
form#editform > * {
    color: black;
    margin: 5px 20px;
    height: 10px;
}
#guardar, #cancelar{
    width: 47%;
    margin-left: 50px;
    border: black solid 3px;
    background: #d8c292;
    color: black;

}form#edit {
    display: flex;
    flex-direction: row;
    color:black;
    margin: 5px 5px;

}

/******************************Movies************************************************/
#malef {
	background-image: url(/img/fondosPantalla/malef360x640.jpg); 
    background-position: center;
    height: 100vh;
	background-attachment: fixed;
	background-size:cover; 	
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
	background-color: rgba(2, 34, 58, 1);
} 
#crear {
    width: 52%;
    margin-left: 10px;
    border: white solid 3px;
    background: white;
    color: black;
}
h1 {
    font-size: 30px;
}
h6 {
    font-size: 12px;
    width: 80%;
}
.pelicula {
    margin-left: 5px;
    display: flex;
   align-items: baseline;
   justify-content: space-between;
}
.btn_movies {
    width: 10%;
    margin:0;
    border: white solid 1px;
    background: white;
    color: black;
    height: 5vh;
    margin-bottom: 3px;

}
.btn_form_m {
display: flex;
width: 20%;
}

