<!DOCTYPE html>
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width', initial-scale='1.0')
        title JooL
        link(rel="shortcut icon" href="/img/favicon/pelicula.ico")
        link(rel='stylesheet' href='/css/normalize.css')
        link(rel='stylesheet' href='/css/style2.css')
    body
        - let estado= value
        if(estado != null)
            h1=estado
        form(action=`/createmovie`, method="POST", id="createform")
            label(for="titulo") Título: 
            input(type="text", name="titulo", id="createtitulo", placeholder="Introducir título")
            br
            label(for="year") Año: 
            input(type="text", name="year", id="createyear", placeholder="Introducir año")
            br
            label(for="director") Director: 
            input(type="text", name="director", id="createdirector", placeholder="Introducir director")
            br
            label(for="genero") Género: 
            input(type="text", name="genero", id="creategenero", placeholder="Introducir género")
            br
            label(for="duracion") Duración: 
            input(type="text", name="duracion", id="createduracion", placeholder="Introducir duración")
            br
            label(for="escritor") Escritor: 
            input(type="text", name="escritor", id="createescritor", placeholder="Introducir escritor")
            br
            label(for="actores") Actores Principales: 
            input(type="text", name="actores", id="createactores", placeholder="Introducir actores")
            br
            label(for="resumen") Resumen: 
            input(type="text", name="resumen", id="createresumen", placeholder="Introducir un resumen")
            br
            label(for="premios") Premios: 
            input(type="text", name="premios", id="createpremios", placeholder="Introducir los premios recibidos")
            br
            label(for="imagen") Url Imagen: 
            input(type="text", name="imagen", id="createurl", placeholder="Introducir url de una imagen")
            br
            br
            input(type="submit", value="Guardar")
        form(action=`/movies`, method="GET" id="create")
            input(type="submit" value="Cancelar")
        script(src="/js/script.js")
   

