<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=, initial-scale=1.0")
        title Dashboard
        link(rel="stylesheet" href="/css/style.css")
        link(rel="stylesheet" href="/css/normalize.css")
    body
        button(id="movies" onclick="location.href='./movies'") Mis Películas
        button(id="search" onclick="location.href='./search'") Buscar Películas
        form(action="/logout", method="POST")
            input(type="submit", value="logout", id="logout")
            a(href="javascript:history.go(-1)") Atrás

