<!DOCTYPE html>
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width', initial-scale='1.0')
        title JooL
        link(rel="shortcut icon" href="/img/favicon/pelicula.ico")
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        link(rel='stylesheet' href='/css/normalize.css')
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css")
        link(href='https://fonts.googleapis.com/css?family=Gruppo' rel='stylesheet')
        link(rel='stylesheet' href='/css/style2.css')
    body(id="big")
        main(id="dashboard")
            div(class="buscador")
                form(class='formularioS' action='./search', method='POST', id="buscando")
                    input(id='peli' class='cuadro' type='text' name='pelicula' placeholder='Introducir Película')
                    span(class="material-icons") search
                        input(id='buscador' class='cuadro' type='submit', value=' Buscar ')
                button(id='movies' onclick="location.href='./movies'") Mis pelis Favritas
                form(action='/logout', method='POST', class="logout")
                    span(class="material-icons") logout
                        input(type='submit' id='logout')     
            div(class="container")
                div(class="row")
                    div(class="col s12")
                        p(class="center-align") Estrenos del 2021
                        div(class="carousel center-align")
                            div(class="carousel-item")
                                //- p(class="p") Venom: Habrá Matanza
                                img(src="./img/pelisCarrusel/estreno1.jpg", alt="Próximos estrenos de películas")
                            div(class="carousel-item")
                                //- p(class="p") Viuda Negra
                                img(src="./img/pelisCarrusel/estreno2.jpg", alt="Próximos estrenos de películas")
                            div(class="carousel-item")
                                //- p(class="p") Noticias del Gran Mundo
                                img(src="./img/pelisCarrusel/estreno3.jpg", alt="Próximos estrenos de películas")
                            div(class="carousel-item")
                                //- p(class="p") Inmune
                                img(src="./img/pelisCarrusel/estreno4.jpg", alt="Próximos estrenos de películas")
                            div(class="carousel-item")
                                //- p(class="p") Fast & Furious 9
                                img(src="./img/pelisCarrusel/fast.jpg", alt="Próximos estrenos de películas")
                            div(class="carousel-item")
                                //- p(class="p") Los Eternos
                                img(src="./img/pelisCarrusel/eternals.jpg", alt="Próximos estrenos de películas")
                            div(class="carousel-item")
                                //- p(class="p") Misión Imposible 7
                                img(src="./img/pelisCarrusel/mision.jpg", alt="Próximos estrenos de películas")
                            div(class="carousel-item")
                                //- p(class="p") Cazafantasmas: Más allá
                                img(src="./img/pelisCarrusel/ghostbusters.jpg", alt="Próximos estrenos de películas")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")
    script(src='/js/script.js')  
            


