<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=, initial-scale=1.0")
        title Login
        link(rel="stylesheet" href="/css/style.css")
        link(rel="stylesheet" href="/css/normalize.css")
        //- include menu_hamb.pug
    body
        main
            section(id="form_login")

                form(action="/dashboard", method="POST", id="formulario")
                    label(for="email") Email: 
                    br
                    input(type="email", name="email", id="email" placeholder="Introducir email")
                    label(for="password") Password: 
                    input(type="password", name="password", id="password" placeholder="Introducir contraseña")
                    br
                    input(type="submit", value="Login", id="login")
                    br
                button(onclick="signin()" id="signin") login Facebook
                //- div(id="user-image")
                //- h1(id="user-email")
                
        

    
    script(src="https://www.gstatic.com/firebasejs/8.2.4/firebase-app.js")

    //- TODO: Add SDKs for Firebase products that you want to use
    //-  https://firebase.google.com/docs/web/setup#available-libraries
    script(src="https://www.gstatic.com/firebasejs/8.2.4/firebase-auth.js")
    //- script(src="/__/firebase/7.23.0/firebase-auth.js")
    script(src='/js/autenticacion.js')
