<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=, initial-scale=1.0")
        title Movies
        link(rel="stylesheet" href="/css/style.css")
        link(rel="stylesheet" href="/css/normalize.css")
        
    body
      
        div(class='hamburger')
            div(class='_layer-mid')
            div(class='_layer-top')
            div(class='_layer-bottom')
            
            nav.menuppal
                ul
                    li
                        a(href='#') Avatar
                    li
                        a(href='#') Home
                    li
                        a(href='#') Mis pelis
                    li
                        a(href='#') Logout

        script(src='/js/script.js')
    