<!DOCTYPE html>
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width', initial-scale='1.0')
        title Search Movie
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        link(rel='stylesheet' href='/css/normalize.css')
        link(rel='stylesheet' href='/css/style.css')
        script(defer, src='/js/script.js')
    body
        header
            nav.menu
                label.logo MoviApp
                ul.menu_items
                    li
                        a(href='/dashboard') Home
                    li
                        a(href='/movies') Mis Pelis
                    li
                        a(href='#') Logout
                    li
                        img(src="/img/avatar/mujerAvatar.png" class="logoD")
                span.btn_menu.material-icons menu
       
        
    script(src='https://www.gstatic.com/firebasejs/8.2.4/firebase-app.js')
    script(src='https://www.gstatic.com/firebasejs/8.2.4/firebase-auth.js')
    script(src='https://www.gstatic.com/firebasejs/7.17.2/firebase-firestore.js')       
    script(src='/js/autenticacion.js')
//- script(defer, src='/js/script2.js')
        
                        

