<!DOCTYPE html>
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width', initial-scale='1.0')
        title Movies
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
        link(rel='stylesheet' href='/css/style.css')
        link(rel='stylesheet' href='/css/normalize.css')
        
    body
        header
            nav.menu
                label.logo MoviApp
                ul.menu_items
                    li.active
                        a(href='#') Home
                    li
                        a(href='#') Mis Pelis
                    li
                        a(href='#') Avatar
                    li
                        a(href='#') Logout
                span.material-icons menu



    script(src='https://www.gstatic.com/firebasejs/8.2.4/firebase-app.js')
    script(src='https://www.gstatic.com/firebasejs/8.2.4/firebase-auth.js')
    script(src='https://www.gstatic.com/firebasejs/7.17.2/firebase-firestore.js')
   
    script(src='/js/autenticacion.js')
    





















    //-   main
    //-         article
    //-             .hamburger
    //-                 ._layer.-top
    //-                 ._layer.-mid
    //-                 ._layer.-bottom
    //-             nav.menuppal
    //-                 ul
    //-                     li
    //-                         img(id='avatar' src='/img/avatar/mujerAvatar.png')
    //-                     li 
                                
    //-                     li
    //-                         a(href='/views_pug/dashboard.pug') Home
    //-                     li
    //-                         a(href='/views_pug/movies.pug') Mis pelis
    //-                     li
    //-                         p logout
    script(src='/js/autenticacion.js')
  
  
        