<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=, initial-scale=1.0")
        title Search Details
        link(rel="stylesheet" href="/public/css/style.css")
        link(rel="stylesheet" href="/public/css/normalize.css")
    body
      main
            article
                .hamburger
                    ._layer.-top
                    ._layer.-mid
                    ._layer.-bottom
                nav.menuppal
                    ul
                        li
                            img(id="avatar" src="/img/avatar/mujerAvatar.png")
                        li 
                                
                        li
                            a(href='/views_pug/dashboard.pug') Home
                        li
                            a(href='/views_pug/movies.pug') Mis pelis
                        li
                           button(style="display:none" onclick="signout()" id="signout") logout
    script(src='/js/autenticacion.js')
        